<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/search">
      <i class="fa-solid fa-place-of-worship"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="ms-auto" id="srch">
        <form class="d-flex" action="/search" method="GET">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Find Your Destination"
            id="srch-bar"
            name="query"
          />
          <button class="btn btn-dark" id="srch-btn" type="submit">
            Search <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto nav-link-cont">
        <a class="nav-link" href="/listings/new">Wanderlust Your Home</a>
        <% if(!currUser) { %>
        <a class="nav-link" aria-current="page" href="/login"><b>Login</b></a>
        <a class="nav-link" href="/signup"><b>Signup</b></a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<div class="srch-res-cont">
  <div class="row" id="srch-res">
    <ul></ul>
  </div>
</div>
