<%layout("/layouts/boiler")%>
<div class="center">
<h2>Just Enjoy it &#128123;</h2>
<h3>Connect with me for more Projects</h3>
<div class="footer-social-links">
    <a href="https://github.com/armaan-deep"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/armaandeep"><i class="fa-brands fa-linkedin"></i></a>
</div>
</div>
